* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card h1 {
  font-size: 2rem;
  color: #003e7f;
  margin-bottom: 20px;
  font-weight: 700;
}
.card p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #1a1a1a;
}
.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ff7979;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #333;
  background-color: #f1f1f1;
  transition: border-color 0.3s ease;
}
.card form textarea:focus {
  border-color: #003e7f;
  outline: none;
}
.card form button {
  padding: 15px 25px;
  background-color: #4ca4ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.card form button:hover {
  background-color: #198aff;
  transform: translateY(-2px);
}
.card form button:focus {
  outline: none;
}
.card #result {
  margin-top: 20px;
}
.card #result a {
  color: #003e7f;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.card #result a:hover {
  color: #00254c;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #003e7f; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Center the loader */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
